@media screen and (min-width: 1201px) {
  .hero_bg {
    width: 100%;
    background-image: url("../images/main_visual.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 700px;
    background-position: center; } }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px; }

a {
  color: black;
  text-decoration: none; }

body {
  font-size: 18px; }

.header.active {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25);
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25); }
